<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="likeboard">
<insert id="insert" parameterType="hashmap">
insert into likeboard values(seq_like.nextval, #{lid}, #{likeid})
</insert>
<select id="select" resultType="hashmap">
select * from likeboard where likeid = #{likeid}
</select>



</mapper>

