<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<insert id="sendMessage">
		<!-- mid 시퀀스로 해야됨... -->
		insert into message values(travel_seq.nextval,#{mnick}, #{receiver},
		#{content}, sysdate,
		0)
	</insert>
	<select id="getMessagesByReceiver" resultType="hashmap">
		select * from
		message where receiver=#{id}
	</select>
	<select id="getMessageByUid" resultType="hashmap">
		select * from message
		where mid=#{mid}
	</select>
	<update id="readMessage">
		update message set status = 1 where mid = #{mid}
	</update>

	<!-- 쪽지 삭제 -->
	<delete id="delMessage">
		delete from message
		<where>
			mid in
			<foreach collection="m" item="mid" index="index" open="("
				close=")" separator=",">
				#{mid}
			</foreach>
		</where>
	</delete>
</mapper>

