<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="station">
	<insert id="add" parameterType="hashmap">
		insert into station values(#{name}, #{lat}, #{lng}, #{addr}, #{contact})
	</insert>

	<select id="readAll" resultType="hashmap">
		select * from station order by name asc
	</select>
	
	<select id="readOne" resultType="hashmap">
		select * from station where name = #{name}
	</select>
	
	<update id="update" parameterType="hashmap">
		update station set name=#{name}, lat=#{lat}, lng=#{lng}, addr=#{addr}, contact=#{contact} where name=#{name}
	</update>
	
	<delete id="delete" parameterType="hashmap">
		delete from station where name=#{name}
	</delete>
</mapper>