<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel">
	<insert id="add" parameterType="hashmap">
		insert into travel values(travel_seq.nextval, #{sname}, #{tname}, #{manager, jdbcType=VARCHAR}, #{taddr}, #{contact})
	</insert>

	<select id="readAll" resultType="hashmap">
		select * from travel
	</select>
	
	<select id="readOne" resultType="hashmap">
		select * from travel where name = #{tname}
	</select>
	
	<update id="update" parameterType="hashmap">
		update travel set sname=#{sname}, tname=#{tname}, manager=#{manager, jdbcType=VARCHAR}, taddr=#{taddr}, contact=#{contact} where tname=#{tname}
	</update>
	
	<delete id="delete" parameterType="hashmap">
		delete from travel where tname=#{tname}
	</delete>
</mapper>