<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel">
	<insert id="add" parameterType="hashmap">
		insert into travel values(travel_seq.nextval, #{sname}, #{tname}, #{cate}, #{lat}, #{lng}, #{taddr}, #{manager, jdbcType=VARCHAR}, #{contact, jdbcType=VARCHAR}, #{detail, jdbcType=VARCHAR})
	</insert>

	<select id="readAll" resultType="hashmap">
		select * from travel order by sname asc
	</select>
	
	<select id="readSome" resultType="hashmap">
		select * from travel where sname = #{sname} order by tname asc
	</select>
	
	<update id="update" parameterType="hashmap">
		update travel set sname=#{sname}, tname=#{tname}, cate=#{cate}, lat=#{lat}, lng=#{lng}, taddr=#{taddr}, manager=#{manager, jdbcType=VARCHAR}, contact=#{contact, jdbcType=VARCHAR}, detail=#{detail, jdbcType=VARCHAR} where tid=#{tid}
	</update>
	
	<delete id="delete" parameterType="hashmap">
		delete from travel where tid=#{tid}
	</delete>
	
	<insert id="addC" parameterType="hashmap">
		insert into tcomments values(tcomments_seq.nextval, #{trano}, #{userid}, #{tracomment}, #{trascore}, sysdate)
	</insert>
	
	<select id="readAllC" resultType="hashmap">
		select * from travel left join tcomments on travel.tid = tcomments.trano where tname = #{tname} order by commentno asc
	</select>
	
	<update id="updateC" parameterType="hashmap">
		update tcomments set tracomment=#{tracomment}, trascore=#{trascore} where commentno=#{commentno}
	</update>
	
	<delete id="deleteC" parameterType="hashmap">
		delete from tcomments where commentno=#{commentno}
	</delete>
</mapper>