<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="addNewOne" parameterType="hashmap">
		insert into users
		values(#{id}, #{pass}, #{nick}, #{email}, 0, null, #{lastlog}, #{ban,
		jdbcType=VARCHAR}, 0)
	</insert>

	<select id="checkId" resultType="hashmap">
		select users.id, users.email,
		users.pass, users.lv, users.photo COUNT(*) as count from users where
		id = #{id} group by users.id, users.pass, users.email, users.lv,
		users.photo
	</select>

	<!-- 로그인 시 사용하는 mapper & mypage에서 정보 뿌려주는 역할 -->
	<select id="loginInfo" resultType="hashmap">
		select * from users where
		id=#{id}
	</select>

	<!-- 프로필 수정 -->
	<update id="updateAccount">
		update users
		<set>
			<if test="nick != null and nick != ''">nick =#{nick},</if>
			<if test="photo != null and photo != ''">photo =#{photo},</if>
			<if test="pass != null and pass != ''">pass=#{pass},</if>
			<if test="email != null and email != ''">email=#{email}</if>
		</set>
		where id=#{id }
	</update>

	<!-- 이메일 인증을 통해 LV 등급 처리 -->
	<update id="updateLv">
		update users
		<set>
			lv=1
		</set>
		where id=#{id}
	</update>

	<!-- 이메일로 비밀번호 찾기 했을 경우 임의 비밀번호로 변경 -->
	<update id="findPass">
		update users
		<set>
			pass=#{pass}
		</set>
		where id=#{id} and email=#{email}
	</update>


	<!-- last log 로그인시 마다 변경 -->
	<update id="lastlogUpdate">
		update users
		<set>
			lastlog=#{lastlog}
		</set>
		where id=#{id}
	</update>

	<!-- ban시 lv4를 lv1로 변경 -->
	<update id="banOut">
		update users
		<set>
			lv=1,
			ban=null
		</set>
		where id=#{id}
	</update>

	<!-- BAN처리 일수 계산 -->
	<select id="banCnt" resultType="hashmap">
		select ban-lastlog from users
		where id=#{id}
	</select>

	<select id="select" resultType="hashmap">
		select * from users
	</select>
	<select id="FoulUsers" resultType="hashmap">
		select * from users where foul
		>= 3
	</select>

	<update id="BanUsers">
		update users set ban = #{ban},lv = 4,foul=0 where id
		= #{id}
	</update>




</mapper>