<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="addNewOne" parameterType="hashmap">
		insert into users
		values(#{id}, #{pass}, #{nick}, #{email}, 0, default.jpg, sysdate,
		#{ban, jdbcType=VARCHAR}, 0)
	</insert>

	<select id="checkId" resultType="hashmap">
		select users.id, users.email,
		users.pass, users.lv, users.photo COUNT(*) as count from users where
		id = #{id} group by users.id, users.pass, users.email, users.lv,
		users.photo
	</select>

	<!-- 로그인 시 사용하는 mapper & mypage에서 정보 뿌려주는 역할 -->
	<select id="loginInfo" resultType="hashmap">
		select * from users where
		id=#{id}
	</select>

	<!-- 프로필 수정 -->
	<update id="updateAccount">
		update users
		<set>
			<if test="nick != null and nick != ''">nick =#{nick},</if>
			<if test="photo != null and photo != ''">photo =#{photo},</if>
			<if test="pass != null and pass != ''">pass=#{pass},</if>
			<if test="email != null and email != ''">email=#{email}</if>
		</set>
		where id=#{id }
	</update>
</mapper>